<div dir="rtl" style="margin-right: 20px;">
  <h1>جميع العـيادات</h1>

<!-- <a routerLink="/add-clinic" class="btn btn-secondary" >اضافة عيـادة</a> -->

<!-- <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">اسم العياده</th>
      <th scope="col">مكـان العيادة </th>
      <th scope="col">التحكم</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clinic of service.clinics">
      <th scope="row"> {{ clinic.clinicId }} </th>
      <td>{{ clinic.name }}</td>
      <td>{{ clinic.city.name }}</td>
      <td class="flex-grow-1 mouse-hover"> <i class="fa-solid fa-trash" style="margin-left: 15px;"
        (click)="onDelete(clinic.clinicId)"></i>
      <i class="fa-solid fa-pen-to-square" [routerLink]="['/edit-clinic',clinic.clinicId]"></i> </td>
    </tr>
  </tbody>
</table> -->

<div class="container" dir="rtl" style="margin-right: 20px;">

  <div>
    <a routerLink="/add-clinic" class="btn btn-secondary" style="
    margin-bottom: 15px; margin-left: 15px;"> إضافة عيادة </a>
    <input (keyup)="applyFilter($event)" matInput placeholder="Filter">
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <!-- <td mat-cell *matCellDef="let city"> {{city.cityId}} </td> -->
      <td mat-cell *matCellDef="let city; let i = index"> {{ getIndex(i) }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> الأســـم </th>
      <td mat-cell *matCellDef="let clinic"> {{clinic.name}} </td>
    </ng-container>

    <!-- CityName Column -->
    <ng-container matColumnDef="cityName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> أسم المدينه </th>
      <td mat-cell *matCellDef="let clinic"> {{clinic.city.name}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> التحكم </th>
      <td mat-cell *matCellDef="let clinic">
        <button mat-fab color="warn" style="margin-left: 15px;"
          (click)="onDelete(clinic.clinicId)">
          <mat-icon>delete</mat-icon>
        </button>

        <button mat-fab color="primary" [routerLink]="['/edit-clinic',clinic.clinicId]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>



</div>
