<div class="bg-body-secondary text-center py-5 rounded-2">
  <h1 class="dispay-6 fw-bold">نظــام إدارة العيادات </h1>
</div>

<div>
<ul class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav" style="
  display: flex;
  justify-content: center;
  align-items: center;" >
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link" routerLink="clinics">العـيادات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="patient">المرضــى</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cities">المدن</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="">الرئيسية</a>
      </li>
    </ul>
  </div>
</ul>
</div>

<router-outlet />

